.note-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.note {
    width: 30%;
    min-height: 100px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.note-content {
    margin: 0 auto;

}

.delete-btn {
    position: absolute;
    top: -15px;
    right: -10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}