.title-reboot {
    display: flex;
    width: 100%;
    align-items: center;
     
}

.note-title {
    width: 100px;
    margin-right: 1rem;
}

.btn-reboot {
    border-radius: 50%;
    width: 35px;
    height: 35px; 

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid black;
    font-size: 16px;
    transition: transform 0.2s;
}

.refresh-icon {
    display: flex;
    align-items: center;
}